<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="US_States.Properties.Settings.US_States" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\US_States1.mdb"
            providerName="System.Data.OleDb" />
        <add name="US_States.Properties.Settings.US_States11ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\US_States11.mdb"
            providerName="System.Data.OleDb" />
        <add name="US_States.Properties.Settings.US_States2002ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\US_States2002.mdb"
            providerName="System.Data.OleDb" />
        <add name="US_States.Properties.Settings.StatesConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\States.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>